# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# Francinum
/SQL/ @Francinum
rust_g.dll @francinum

# Kapu1178
/code/_DEFINES/atmospherics/ @Kapu1178
/code/modules/atmospherics/ @Kapu1178
/code/modules/power/supermatter/ @Kapu1178
/code/controllers/subsystem/airflow.dm @Kapu1178
/code/controllers/subsystem/airmachines.dm @Kapu1178
/code/controllers/subsystem/zas.dm @Kapu1178
/code/controllers/subsystem/processing/airatoms.dm @Kapu1178
