.dockerignore
.editorconfig
GPLv3.txt
LICENSE
README.md
TGS3.json
.github
.gitignore
.gitattributes
.git/hooks
.git/info
.git/modules
.git/objects
.git/refs
.vs*
cfg
data
SQL
node_modules
daedalus.dmb
daedalus.int
daedalus.rsc
daedalus.lk
daedalus.dyn.rsc
*.dll
Dockerfile
tools/bootstrap/.cache
