.dockerignore
.editorconfig
GPLv3.txt
LICENSE
README.md
TGS3.json
.github
.gitignore
.gitattributes
.git/hooks
.git/info
.git/modules
.git/objects
.git/refs
.vs*
cfg
data
SQL
node_modules
pariah.dmb
pariah.int
pariah.rsc
pariah.lk
pariah.dyn.rsc
*.dll
Dockerfile
tools/bootstrap/.cache
