@font-face {
	font-family: "Jost";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("Jost.ttf") format("truetype");
}

@font-face {
	font-family: "Jost";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("Jost.ttf") format("truetype");
}
