@font-face {
	font-family: "Libre Baskerville";
	src: url("LibreBaskerville.ttf") format("truetype");
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Libre Baskerville";
	src: url("LibreBaskerville-Italic.ttf") format("truetype");
	font-weight: 400 700;
	font-style: italic;
	font-display: swap;
}
