@use '../base.scss';
@use 'sass:color';
@use '../functions.scss' as *;

$health-block-color: #454442;
$skills-per-column: 4;
$stats-count: 3;

$pneuma-color: #03fca1;
$soma-color: #caa53d;
$psyche-color: #615b7d;

$stat-block-darken: 25%;

hr {
  &.pneuma {
    border-color: $pneuma-color;
  }

  &.soma {
    border-color: $soma-color;
  }

  &.psyche {
    border-color: $psyche-color;
  }
}

.CharacterStats__nameHeader {
  margin-bottom: 1.7rem;
  font-size: 2.2rem;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #454442;
  box-sizing: border-box;
  text-align: center;
}

.CharacterStats__healthBlock {
  height: 100%;
}

.CharacterStats__healthBlock_header {
  clip-path: polygon(
    0 0,
    calc(100% - 20px + 2px) 0,
    100% calc(20px - 2px),
    100% 100%,
    0 100%
  );
  font-size: 2rem;
  font-weight: bold;
  color: #a3b18a;
  padding: 0.5rem 1rem;
  background-color: $health-block-color;
}

.CharacterStats__healthBlock_body {
  border: 4px solid $health-block-color;
  padding: 0.5rem;
  overflow-y: auto;
}
.CharacterStats__healthBlock_body.missing {
  background-color: rgba(0, 0, 0, 0.9);
}

.CharacterStats__healthBlock_entry {
  font-size: 1.5rem;
  width: 100%;
  color: #454442;
  font-weight: bold;
}

.CharacterStats__statsPage {
  font-family: 'Jost', sans-serif;
}

.CharacterStats__statColumn {
  width: calc((100% / $stats-count));
  overflow: hidden;
  box-sizing: border-box;
  border: 8px solid black;
}

.CharacterStats__statColumn.pneuma {
  border-color: $pneuma-color;
  background-color: $pneuma-color;
}

.CharacterStats__statColumn.soma {
  border-color: $soma-color;
  background-color: $soma-color;
}

.CharacterStats__statColumn.psyche {
  border-color: $psyche-color;
  background-color: $psyche-color;
}

.CharacterStats__statBlock {
  height: calc((100% / $skills-per-column));
  width: 100%;
  border-bottom: 6px solid;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  cursor: base.$cursor-pointer;
}

.CharacterStats__statBlock.pneuma {
  border-color: $pneuma-color;
  background-color: darken($pneuma-color, $stat-block-darken);
}

.CharacterStats__statBlock.soma {
  border-color: $soma-color;
  background-color: darken($soma-color, $stat-block-darken);
}

.CharacterStats__statBlock.psyche {
  border-color: $psyche-color;
  background-color: darken($psyche-color, $stat-block-darken);
}

.CharacterStats__statBlock_statValue {
  text-align: center;
  font-size: 6rem;
  height: 60%;
  vertical-align: middle;
  font-weight: bold;
}

$skill-clip-amount: 20px;
.CharacterStats__skillBlock {
  height: calc((100% / $skills-per-column));
  width: 90%;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  border-style: solid;
  border-width: 0px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: base.$cursor-pointer;
  clip-path: polygon(
    #{$skill-clip-amount} 0,
    calc(100% - #{$skill-clip-amount}) 0,
    100% #{$skill-clip-amount},
    100% calc(100% - #{$skill-clip-amount}),
    calc(100% - #{$skill-clip-amount}) 100%,
    #{$skill-clip-amount} 100%,
    0 calc(100% - #{$skill-clip-amount}),
    0 #{$skill-clip-amount}
  );

  &.pneuma {
    border-color: $pneuma-color;
    background-color: darken($pneuma-color, $stat-block-darken);
  }

  &.soma {
    border-color: $soma-color;
    background-color: darken($soma-color, $stat-block-darken);
  }

  &.psyche {
    border-color: $psyche-color;
    background-color: darken($psyche-color, $stat-block-darken);
  }

  &:not(:first-child) {
    border-top-width: 3px;
  }

  &:not(:last-child) {
    border-bottom-width: 3px solid;
  }
}

.CharacterStats__skillBlock.dummy {
  cursor: base.$cursor-default;
}

.CharacterStats__skillBlock_statValue {
  text-align: center;
  font-size: 4rem;
  height: 70%;
  vertical-align: middle;
  font-weight: bold;
}

.CharacterStats__statCard {
  font-family: 'Jost', sans-serif;
}

.CharacterStats__statCard__modal {
  border: 12px solid;
  box-sizing: border-box;

  &.pneuma {
    border-color: $pneuma-color;
  }
  &.soma {
    border-color: $soma-color;
  }
  &.psyche {
    border-color: $psyche-color;
  }
}

.CharacterStats__statCard__statName {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
}

.CharacterStats__statCard__statValue {
  font-size: 7rem;
  font-weight: bold;
  margin-top: 3rem;
  line-height: 1;
}

$square-size: 30px;
$circle-size: 10px;
$circle-color: base.$color-bg;

.square {
  width: $square-size;
  height: $square-size;
  position: absolute;

  transform: translate(-50%, -50%);

  &::before {
    content: '';
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    background: $circle-color;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.top {
    top: -1%;
  }

  &.right {
    right: -11%;
  }

  &.bottom {
    bottom: -6%;
  }

  &.left {
    left: -2%;
  }

  &.pneuma {
    background-color: $pneuma-color;
  }

  &.soma {
    background-color: $soma-color;
  }

  &.psyche {
    background-color: $psyche-color;
  }
}
