@use '../base.scss';
@use 'sass:color';

$health-block-color: #454442;

.CharacterStats__healthBlock {
  height: 100%;
}

.CharacterStats__healthBlock_header {
  clip-path: polygon(
    0 0,
    calc(100% - 20px + 2px) 0,
    100% calc(20px - 2px),
    100% 100%,
    0 100%
  );
  font-size: 2rem;
  font-weight: bold;
  color: #a3b18a;
  padding: 0.5rem;
  background-color: $health-block-color;
}

.CharacterStats__healthBlock_body {
  border: 4px solid $health-block-color;
  padding: 0.5rem;
}

.CharacterStats__healthBlock_entry {
  font-size: 2.5rem;
  width: 50%;
  color: #454442;
}
