@use '../base.scss';
@use 'sass:color';

$health-block-color: #454442;
$stats-per-row: 5;
$stats_count: 4;

.CharacterStats__nameHeader {
  margin-bottom: 1.7rem;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #454442;
  box-sizing: border-box;
}

.CharacterStats__healthBlock {
  height: 100%;
}

.CharacterStats__healthBlock_header {
  clip-path: polygon(
    0 0,
    calc(100% - 20px + 2px) 0,
    100% calc(20px - 2px),
    100% 100%,
    0 100%
  );
  font-size: 2rem;
  font-weight: bold;
  color: #a3b18a;
  padding: 0.5rem 1rem;
  background-color: $health-block-color;
}

.CharacterStats__healthBlock_body {
  border: 4px solid $health-block-color;
  padding: 0.5rem;
  overflow-y: auto;
}

.CharacterStats__healthBlock_entry {
  font-size: 2.5rem;
  width: 100%;
  color: #454442;
  font-weight: bold;
}

.CharacterStats__statsPage {
  font-family: 'Jost', sans-serif;
}

.CharacterStats__statRow {
  width: 100%;
  height: calc((100% / $stats_count) - (1em));
  margin: 0.5em 0;
}

.CharacterStats__statBlock {
  width: calc((100% / $stats-per-row) - (2px * 2));
  border: 2px solid black; // Color overriden in TSX
  margin: 0 2px;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
}
