@use '../base.scss';
@use 'sass:color';
@use '../functions.scss' as *;

$health-block-color: #454442;
$stats-per-row: 4;
$stats_count: 3;

$pneuma-color: #03fca1;
$soma-color: #caa53d;
$psyche-color: #615b7d;

$stat-block-darken: 25%;

hr.pneuma {
  border-color: $pneuma-color;
}

hr.soma {
  border-color: $soma-color;
}

hr.psyche {
  border-color: $psyche-color;
}

.CharacterStats__nameHeader {
  margin-bottom: 1.7rem;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #454442;
  box-sizing: border-box;
}

.CharacterStats__healthBlock {
  height: 100%;
}

.CharacterStats__healthBlock_header {
  clip-path: polygon(
    0 0,
    calc(100% - 20px + 2px) 0,
    100% calc(20px - 2px),
    100% 100%,
    0 100%
  );
  font-size: 2rem;
  font-weight: bold;
  color: #a3b18a;
  padding: 0.5rem 1rem;
  background-color: $health-block-color;
}

.CharacterStats__healthBlock_body {
  border: 4px solid $health-block-color;
  padding: 0.5rem;
  overflow-y: auto;
}

.CharacterStats__healthBlock_entry {
  font-size: 2.5rem;
  width: 100%;
  color: #454442;
  font-weight: bold;
}

.CharacterStats__statsPage {
  font-family: 'Jost', sans-serif;
}

.CharacterStats__statRow {
  width: 100%;
  height: calc((100% / $stats_count) - (1em));
  margin: 0.5em 0;
}

.CharacterStats__statBlock {
  width: calc((100% / $stats-per-row) - (2px * 2));
  border: 2px solid black; // Color overriden in TSX
  margin: 0 2px;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  cursor: base.$cursor-pointer;
}

.CharacterStats__statBlock.pneuma {
  border-color: $pneuma-color;
  background-color: darken($pneuma-color, $stat-block-darken);
}

.CharacterStats__statBlock.soma {
  border-color: $soma-color;
  background-color: darken($soma-color, $stat-block-darken);
}

.CharacterStats__statBlock.psyche {
  border-color: $psyche-color;
  background-color: darken($psyche-color, $stat-block-darken);
}

.CharacterStats__statBlock_statValue {
  text-align: center;
  font-size: 6rem;
  height: 60%;
  vertical-align: middle;
  font-weight: bold;
}

.CharacterStats__statCard {
  font-family: 'Jost', sans-serif;
}

.CharacterStats__statCard__modal {
  border: 2px solid;
  box-sizing: border-box;
}

.CharacterStats__statCard__modal.pneuma {
  border-color: $pneuma-color;
}

.CharacterStats__statCard__modal.soma {
  border-color: $soma-color;
}

.CharacterStats__statCard__modal.psyche {
  border-color: $psyche-color;
}

.CharacterStats__statCard__statName {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
}

.CharacterStats__statCard__statValue {
  font-size: 7rem;
  font-weight: bold;
  margin-top: 3rem;
  line-height: 1;
}
