@use '../colors.scss';
@use '../base.scss';

$map-keys: colors.$color-map !default;

.CircuitInfo__Examined {
  user-select: none;
  pointer-events: none;
  background-color: var(--color-black);
  padding: var(--space-ml);
  border-radius: var(--border-radius-large);
}

.ObjectComponent__Titlebar {
  user-select: none;
  white-space: nowrap;
  border-top-left-radius: var(--border-radius-huge);
  border-top-right-radius: var(--border-radius-huge);
}

.ObjectComponent__Content {
  user-select: none;
  white-space: nowrap;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.ObjectComponent__Port {
  position: relative;
  width: 13px;
  height: 13px;
}

.ObjectComponent__PortPos {
  position: absolute;
  inset: 0;
}

@each $color-name, $color-value in $map-keys {
  .color-stroke-#{$color-name} {
    stroke: hsl(from $color-value h s calc(l + var(--adjust-color))) !important;
  }

  .color-fill-#{$color-name} {
    fill: hsl(from $color-value h s calc(l + var(--adjust-color))) !important;
  }
}

$border-color: hsl(var(--primary-hue), 100%, 77%) !default;
$border-radius: var(--border-radius-tiny) !default;

.IntegratedCircuit__BlueBorder {
  border: base.em(1px) solid $border-color;
  border: base.em(1px) solid hsl(from $border-color h s l / 0.75);
  border-radius: $border-radius;
}
