/**
 * Internal variables
 * For more, see: https://github.com/tgstation/tgui-core
 * Files: vars-colors.scss | vars-components.scss | vars-vaules.scss
 */

:root {
  /* TitleBar */
  --titlebar-background: var(--color-secondary);
  --titlebar-text: var(--color-text-translucent-light);
  --titlebar-shadow-color: var(--color-border-dark);
  --titlebar-shadow-core: var(--color-border-dark);

  --color-base: hsl(0, 0%, 20%);
  --cursor-default: url('shared_assets/default.png'), default;
  --cursor-pointer: url('shared_assets/link_select.png'), pointer;
  --font-family: Verdana, Geneva, sans-serif;
}
