html {
	cursor: url("default.png"), auto;
}

a:hover {
	cursor: url("link_select.png"), auto;
}

a:hover,
.dark a:hover {
	cursor: url("link_select.png"), pointer;
}

.button {
	cursor: url("link_select.png"), pointer;
}

.grid-item:hover .grid-item-text {
	cursor: url("link_select.png"), pointer;
}

.link,
.link:hover {
	cursor: url("link_select.png"), pointer;
}

/* Browser Datums */
.pngsorDefault {
	cursor: url("default.png"), auto;
}

.pngsorPointer {
	cursor: url("link_select.png"), pointer;
}

.slider {
	cursor: url("link_select.png"), pointer;
}

a.white,
a.white:link,
a.white:visited,
a.white:active {
	cursor: url("default.png"), auto;
}

a.genericLink,
a.genericLink:visited,
a.genericLink:active {
	cursor: url("default.png"), auto;
}

a.rawLink {
	cursor: url("link_select.png"), pointer;
}
