body {
	background-color: #272727;
	color: #efefef;
}

li {
	margin-bottom: 0.2rem;
}

.panel {
	font-family: "Quantico", sans-serif;
	font-size: 1rem;
	line-height: 1;
	background-color: #313131;
	padding: 10px;
	margin-bottom: 5px;
}

.general_panel {
	font-size: 1.5rem;
}

.header {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2rem;
}

.header.antagonist {
	font-family: "Special Elite", serif;
}

.personal_header {
	font-family: "Quantico", sans-serif;
	text-align: center;
	font-size: 3rem;
	margin: 2rem;
}

.good {
	color: #03fca1;
}

.bad {
	color: #fc4b32;
}

.bluetext {
	color: #517fff;
	font-weight: bold;
}

.neutraltext {
	font-weight: bold; /* If you feel these should have some color feel free to change */
}

.marooned {
	color: rgb(109, 109, 255);
	font-weight: bold;
}

.service {
	color: #6eaa2c;
	font-weight: bold;
}

.big {
	font-size: 2em;
}

.medaltext {
	color: #add8e6;
}

.codephrase {
	color: #ef2f3c;
}

.redborder {
	border-bottom: 2px solid #ef2f3c;
}

.greenborder {
	border-bottom: 2px solid #90ee90;
}

.clockborder {
	border-bottom: 2px solid #b18b25;
}

.stationborder {
	border-bottom: 2px solid #add8e6;
}

.tooltip_container {
	position: relative;
	font-size: 24px;
}

.tooltip_hover {
	visibility: hidden;
	position: absolute;
	background-color: black;
	z-index: 1;
	width: 220px;
	font-size: 14px;
	border-width: 4px;
	border-style: solid;
	border-color: #272727;
	background: #363636;
	color: white;
	top: 100%;
	left: 30px;
}

.tooltip_container:hover .tooltip_hover {
	visibility: visible;
}

.fill_width {
	width: 100%;
}

.fill_height {
	height: 100%;
}

.flex_container {
	display: flex;
}

.flex_container.horizontal {
	flex-direction: row;
}

.flex_container.vertical {
	flex-direction: column;
}

.justify_center {
	justify-content: center;
}

.align_center {
	align-items: center;
}
