@use 'sass:math';
@use 'sass:meta';
@use '../functions.scss' as *;

$color-fg: #ffffff !default;
$color-bg: #4e6d6a !default;
$dark-fg: darken($color-fg, 30);

@use '../base.scss' with (
  $color-bg: $color-bg,
  $color-fg: $color-fg
);

@use '../colors.scss' with (
  $primary: base.$color-fg,
  $label: base.$color-fg,
  $good: base.$color-fg,
  $bad: base.$color-fg,
  $average: base.$color-fg
);

%theme-daedalus {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  @include meta.load-css(
    '../components/Slider.scss',
    $with: (
      'cursor-color': darken(base.$color-fg, 0.2),
      'popup-background-color': base.$color-bg,
      'popup-text-color': base.$color-fg
    )
  );

  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: (
      'color-default-fill': base.$color-fg,
      'background-color': $dark-fg,
      'bg-map': colors.$bg-map
    )
  );

  @include meta.load-css('../layouts/Window.scss');

  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': base.$color-bg)
  );
  @include meta.load-css(
    '../layouts/Layout.scss',
    $with: ('scrollbar-color-multiplier': 0.5)
  );

  @include meta.load-css(
    '../components/Section.scss',
    $with: ('title-text-color': base.$color-fg)
  );
}
